<div class="container-fluid">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">5-day forecast for {{forecast.city.name}} ({{zip}})</h3>

        </div>
        <ul class="list-group">
            <!---->
            <li class="list-group-item" *ngFor="let fDay of forecast.list">
                <div class="row">
                    <div class="col-10">
                            {{fDay.dt * 1000 | date:'EEEE, MMM d'}}
                        {{fDay.weather[0].main}}
                        - Min: {{fDay.temp.min}}°C
                        - Max: {{fDay.temp.max}}°C
                    </div>
                    <div class="col-2">
                        <app-weather-image [iconKey]="fDay.weather[0].icon" [customClass]="'icon'"
                                           [size]="4"></app-weather-image>
                    </div>
                </div>
            </li>
        </ul>
    </div>
    <button (click)="goHome()" class="btn btn-success" tabindex="0" id="mainPageBtn">&lt; Back to main page</button>
</div>